In [1]:
import pandas as pd
import numpy as np

In [4]:
subscriptionTiers = ['Free','Personal','Business']
monthlyPrices = [0,5.99, 29.99]
addOns = ['Security', 'Calendar','4k']
addOnCosts = {'Security':2.99,
              'Calendar':2.99,
              '4k':7.99}
industries = ['Education', 'Software', 'Marketing',
              'Retail', 'Transporation', 'Sports&Entertainment',
             'Hospitality', 'Medical','Agriculture']


def generateUser(i):
    subscriptionTier = subscriptionTiers[i]
    monthlyBasePrice = monthlyPrices[i]
    AddOn_security = np.random.choice([0,1], p=[.8,.2])
    AddOn_calendar = np.random.choice([0,1], p=[.9,.1])
    AddOn_4k = np.random.choice([0,1], p=[.9,.1])
    totalCosts = monthlyBasePrice + 2.99* AddOn_security + 2.99*AddOn_calendar +7.99*AddOn_4k
    industry = np.random.choice(industries)
    return [subscriptionTier,
monthlyBasePrice,
AddOn_security,
AddOn_calendar,
AddOn_4k,
totalCosts,
industry]

In [6]:
dataset = [generateUser(i) for i in np.random.choice([0,1,2],
                                                     size=5*10**5,
                                                    p=[.65,.25,.1])]

In [8]:
columns = ["subscriptionTier","monthlyBasePrice","AddOn_security",
           "AddOn_calendar","AddOn_4k","totalCosts","industry"]

In [32]:
"".join([str(x) for x in np.random.randint(1, 9,size=8)])

'31745368'

In [33]:
["".join([str(x) for x in np.random.randint(1, 9,size=8)]) for i in range(10)]

['42287537',
 '32254335',
 '14463186',
 '62471182',
 '57486614',
 '74118566',
 '47766162',
 '63136364',
 '18144856',
 '85384531']

In [34]:
# df = pd.DataFrame(dataset)
# df.columns = columns
# print(df.shape)
df['CustomerID'] = ["".join([str(x) for x in np.random.randint(1, 9,size=8)]) for i in range(len(df))]
df.head(10)

,subscriptionTier,monthlyBasePrice,AddOn_security,AddOn_calendar,AddOn_4k,totalCosts,industry,CustomerID
0,Personal,5.99,0,0,0,5.99,Transporation,27344551
1,Free,0.00,0,0,0,0.00,Hospitality,71173642
2,Personal,5.99,0,0,0,5.99,Software,41222337
3,Free,0.00,0,0,0,0.00,Education,23653446
4,Personal,5.99,0,0,0,5.99,Agriculture,63771418
5,Business,29.99,0,0,0,29.99,Education,27266413
6,Personal,5.99,1,0,0,8.98,Hospitality,85874361
7,Free,0.00,0,0,0,0.00,Sports&Entertainment,75262448
8,Personal,5.99,1,0,0,8.98,Transporation,21311343
9,Personal,5.99,0,1,1,16.97,Transporation,48653644

In [35]:
df.CustomerID.nunique()

492728

In [10]:
pwd

'/Users/matthewmitchell/Documents/Sophos/Facebook_Marketing_Analytics/Course2'

In [11]:
df.to_csv("GeneratedFocusVu_CustomerData.csv", index=False)

In [14]:
df.groupby('subscriptionTier')['totalCosts'].mean()

subscriptionTier
Business    31.663306
Free         1.689129
Personal     7.678402
Name: totalCosts, dtype: float64

In [16]:
df.groupby('subscriptionTier')[['totalCosts','monthlyBasePrice']].mean()

                  totalCosts  monthlyBasePrice
subscriptionTier
Business           31.663306             29.99
Free                1.689129              0.00
Personal            7.678402              5.99

In [17]:
df.groupby('subscriptionTier')['totalCosts'].median()

subscriptionTier
Business    29.99
Free         0.00
Personal     5.99
Name: totalCosts, dtype: float64

In [18]:
df.groupby('subscriptionTier')['totalCosts'].count()

subscriptionTier
Business     49568
Free        324395
Personal    126037
Name: totalCosts, dtype: int64

In [19]:
df.groupby('subscriptionTier')['totalCosts'].sum()

subscriptionTier
Business    1.569487e+06
Free        5.479450e+05
Personal    9.677628e+05
Name: totalCosts, dtype: float64

In [20]:
df.groupby('subscriptionTier')['totalCosts'].min()

subscriptionTier
Business    29.99
Free         0.00
Personal     5.99
Name: totalCosts, dtype: float64

In [21]:
df.groupby('subscriptionTier')['totalCosts'].max()

subscriptionTier
Business    43.96
Free        13.97
Personal    19.96
Name: totalCosts, dtype: float64

In [22]:
df.groupby('subscriptionTier')['totalCosts'].agg(['min','max','sum',
                                                  'mean','median','count'])

                    min    max           sum       mean  median   count
subscriptionTier
Business          29.99  43.96  1.569487e+06  31.663306   29.99   49568
Free               0.00  13.97  5.479450e+05   1.689129    0.00  324395
Personal           5.99  19.96  9.677628e+05   7.678402    5.99  126037

In [40]:
df.groupby('subscriptionTier')['totalCosts'].mean()

subscriptionTier
Business    31.663306
Free         1.689129
Personal     7.678402
Name: totalCosts, dtype: float64

In [37]:
df.groupby('subscriptionTier')[['totalCosts','monthlyBasePrice']].agg(['min','max','sum',
                                                                       'mean','median','count'])

                 totalCosts                                                 \
                        min    max           sum       mean median   count
subscriptionTier
Business              29.99  43.96  1.569487e+06  31.663306  29.99   49568
Free                   0.00  13.97  5.479450e+05   1.689129   0.00  324395
Personal               5.99  19.96  9.677628e+05   7.678402   5.99  126037

                 monthlyBasePrice
                              min    max           sum   mean median   count
subscriptionTier
Business                    29.99  29.99  1.486544e+06  29.99  29.99   49568
Free                         0.00   0.00  0.000000e+00   0.00   0.00  324395
Personal                     5.99   5.99  7.549616e+05   5.99   5.99  126037

In [39]:
df.groupby('subscriptionTier').mean()

,monthlyBasePrice,AddOn_security,AddOn_calendar,AddOn_4k,totalCosts
subscriptionTier,,,,,
Business,29.99,0.198515,0.100569,0.097502,31.663306
Free,0.00,0.199787,0.099336,0.099468,1.689129
Personal,5.99,0.201544,0.099598,0.098622,7.678402

In [43]:
df.groupby(['subscriptionTier', 'totalCosts']).sum()

totalCosts
0.00     FreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFr...
2.99     FreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFr...
5.98     FreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFr...
5.99     PersonalPersonalPersonalPersonalPersonalPerson...
7.99     FreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFr...
8.98     PersonalPersonalPersonalPersonalPersonalPerson...
10.98    FreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFr...
11.97    PersonalPersonalPersonalPersonalPersonalPerson...
13.97    FreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFreeFr...
13.98    PersonalPersonalPersonalPersonalPersonalPerson...
16.97    PersonalPersonalPersonalPersonalPersonalPerson...
19.96    PersonalPersonalPersonalPersonalPersonalPerson...
29.99    BusinessBusinessBusinessBusinessBusinessBusine...
32.98    BusinessBusinessBusinessBusinessBusinessBusine...
35.97    BusinessBusinessBusinessBusinessBusinessBusine...
37.98    BusinessBusinessBusinessBusinessBusinessBusine...
40.97    BusinessBusinessBusinessBusinessBusinessBusine...
43.96    BusinessBusinessBusinessBusinessBusinessBusine...
Name: subscriptionTier, dtype: object

In [46]:
!pip install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in /Users/matthewmitchell/anaconda3/lib/python3.7/site-packages (from pandasql) (1.17.2)
Requirement already satisfied: pandas in /Users/matthewmitchell/anaconda3/lib/python3.7/site-packages (from pandasql) (0.25.1)
Requirement already satisfied: sqlalchemy in /Users/matthewmitchell/anaconda3/lib/python3.7/site-packages (from pandasql) (0.9.8)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/matthewmitchell/anaconda3/lib/python3.7/site-packages (from pandas->pandasql) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /Users/matthewmitchell/anaconda3/lib/python3.7/site-packages (from pandas->pandasql) (2019.3)
Requirement already satisfied: six>=1.5 in /Users/matthewmitchell/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->pandasql) (1.12.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-cp37-none-any.whl size=26820 sha256=860c9f1b3e69fd4680fc8e015036fc52ac0d3d96cb72160f41d08558c7d85d21
  Stored in directory: /Users/matthewmitchell/Library/Caches/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [47]:
from pandasql import sqldf

In [49]:
pysqldf = lambda q: sqldf(q, globals())

In [50]:
q = """Select subscriptionTier,
              count(*)
              from df
              group by subscriptionTier;"""
pysqldf(q)

  subscriptionTier  count(*)
0         Business     49568
1             Free    324395
2         Personal    126037

In [53]:
sqldf(q)

  subscriptionTier  count(*)
0         Business     49568
1             Free    324395
2         Personal    126037

In [51]:
len(df)

500000

In [52]:
df.subscriptionTier.value_counts()

Free        324395
Personal    126037
Business     49568
Name: subscriptionTier, dtype: int64

In [56]:
q = """select sum(AddOn_security),
              sum(AddOn_calendar),
              sum(AddOn_4k)
              from df
              where subscriptionTier = 'Free';"""
sqldf(q)

   sum(AddOn_security)  sum(AddOn_calendar)  sum(AddOn_4k)
0                64810                32224          32267